body {
    background-color: #a1ade0;
    font-family: var(--main-font);
    color: var(--main-font-color);
    min-width: 320px;
  }

button {
    background-color: var(--secondary-color);
    font-family: var(--main-font);
    border: 1px solid red;
   
    padding: 15px;
}

table {
    width:100%;
    border-collapse: collapse;

}

table, th, td{
    border:1px solid black;
}

th, td{
    padding:10px;
    text-align:left;
}

th{
    background-color: #b41c1c;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover{
    background-color: #e0e0e0;
}

/* .container {
    max-width: 600px;
    margin: 50px auto;
    padding:20px;
}
*/

/* form{
    display:flex;
    flex-direction:column
} */

label{
    margin-bottom: 5px;
    font-weight:bold
}

input[type="text"],
input[type="email"],
input[type="password"]{
    padding:10px;
    margin-bottom:20px;
    border:1px solid #ccc;
    border-radius:4px;
    width:100%
} 
 